<app-menu></app-menu>

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a class="navbar-brand" href="#"><span class="text-danger titulo-pagina">IngePro</span>Sistemas</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sólo estás a un paso de tu nueva cuenta, actívala ahora.
                </p>
                <div action="" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="email" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Código" id="codigo" [(ngModel)]="codigo" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-code"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-danger btn-block text-decoration-none text-white" (click)="Activar()">
                                Activar cuenta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>