<app-menu></app-menu>

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a class="navbar-brand" href="#"><span class="text-danger titulo-pagina">IngePro</span>Sistemas</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sólo estás a un paso de tu nueva contraseña, recupérala ahora.
                </p>
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-danger btn-block">Cambiar contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>