<section id="equipo" class="equipo pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header text-center pb-5">
                    <h2 class="titulo-seccion">Nuestro Equipo</h2>
                    <p>En nuestra empresa, contamos con profesionales altamente capacitados y especializados en diversas
                        áreas de la tecnología y el servicio al cliente. </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../../assets/img/equipo-1.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="fs-5 py-2">Sergio Torres</h3>
                        <p class="card-text">Experto en Redes y Soporte Técnico Hardware</p>
                        <p class="redes-sociales">
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-github text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../../assets/img/equipo-2.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="fs-5 py-2">Ana Sánchez</h3>
                        <p class="card-text">Especialista en Configuración Personalizada</p>
                        <p class="redes-sociales">
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-github text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../../assets/img/equipo-3.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="fs-5 py-2">Manuel Castro</h3>
                        <p class="card-text">Especialista en Seguridad Informática y Atención al Cliente</p>
                        <p class="redes-sociales">
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-github text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../../assets/img/equipo-4.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="fs-5 py-2">Andrea Jiménez</h3>
                        <p class="card-text">Especialista en Capacitación y Formación Online o Presencial</p>
                        <p class="redes-sociales">
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-github text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>