<section id="servicios" class="servicios pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="titulo-seccion">Nuestros servicios</h2>
                    <p>En nuestra empresa, estamos comprometidos con la excelencia en el mundo de la tecnología. <br>
                        Ofrecemos una amplia gama de servicios diseñados para satisfacer todas tus necesidades
                        relacionadas con computadoras y dispositivos tecnológicos.</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-white text-center bg-secondary pb-2">
                    <div class="card-body">
                        <i class="bi bi-pc-display"></i>
                        <h4 class="titulo-card">Venta computadoras</h4>
                        <p class="mt-4">Como expertos en tecnología, te ofrecemos una selección incomparable de
                            computadoras de escritorio, portátiles y dispositivos tecnológicos de las marcas más
                            confiables y reconocidas en el mercado. Desde potentes estaciones de trabajo hasta laptops
                            ultraportátiles, tenemos el equipo perfecto para ti.</p>
                        <button class="btn btn-danger btn-general"><a href="servicios/venta-equipos" class="text-white">Conocer Más</a></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-white text-center bg-secondary pb-2">
                    <div class="card-body">
                        <i class="bi bi-person-fill-gear"></i>
                        <h4 class="titulo-card">Soporte técnico</h4>
                        <p class="mt-4">Nuestro equipo de técnicos altamente capacitados está listo para resolver
                            cualquier problema que puedas enfrentar con tus computadoras o dispositivos. Ofrecemos
                            soporte técnico en persona y a través de acceso remoto, para tu comodidad. Ya sea un
                            problema de software o hardware.</p>
                            <button class="btn btn-danger btn-general"><a href="servicios/soporte-tecnico" class="text-white">Conocer Más</a></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-white text-center bg-secondary pb-2">
                    <div class="card-body">
                        <i class="bi bi-bookmarks-fill"></i>
                        <h4 class="titulo-card">Capacitación y formación</h4>
                        <p class="mt-4">No importa tu nivel de experiencia tecnológica, ofrecemos capacitación y
                            formación para que te sientas seguro y competente al usar tus dispositivos. Aprende a sacar
                            el máximo provecho de tu equipo y a mantenerlo seguro en línea con las últimas tecnologías y
                            barreras de seguridad.</p>
                            <button class="btn btn-danger btn-general"><a href="servicios/capacitaciones" class="text-white">Conocer Más</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>