<app-menu></app-menu>

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a class="navbar-brand" href="#"><span class="text-danger titulo-pagina">IngePro</span>Sistemas</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Digita tus credenciales del sistema</p>

                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-danger btn-block"><a href="dashboard" class="text-decoration-none text-white">Iniciar sesión</a></button>
                        </div>
                    </div>
                </form>

                <p class="mt-2 mb-1 text-center">
                    <a href="olvidopass">¿Olvidó su contraseña?</a>
                </p>
                <p class="mb-0 text-center">
                    <a href="registro" class="text-center">Crear una cuenta</a>
                </p>
            </div>
        </div>
    </div>
</div>