<section id="nosotros" class="nosotros pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="img-nosotros">
                    <img src="../../../assets/img/nosotros.jpg" alt="" class="img-fluid img-nosotros">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="info-nosotros">
                    <h2 class="titulo-seccion">Somos los mejores en ofrecer <br> Servicios de Calidad</h2>
                    <p>Somos una destacada organización que se enorgullece de ser reconocida como líder en la industria por nuestra firme dedicación a ofrecer servicios de calidad inigualable. Nuestra misión es superar constantemente las expectativas de nuestros clientes, y lo hacemos con un compromiso inquebrantable con la excelencia en cada aspecto de nuestro trabajo. <br>
                    Nuestro equipo altamente capacitado y experimentado se esfuerza incansablemente para brindar soluciones y servicios que sean no solo eficientes y efectivos, sino también enriquecedores y gratificantes para nuestros clientes. Creemos que la calidad no es solo un estándar, sino una filosofía que impulsa cada acción y decisión que tomamos.</p>
                </div>
            </div>
        </div>
    </div>
</section>