.navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

div#mismensajes {
    width: 25%;
    position: absolute;
    top: 25%;
    right: 1%;
}